# Read file

In [1]:
import pandas as pd 
import numpy as np

In [9]:
df_image_data_ver2 = pd.read_csv('D:\\image_data_ver2.csv')
df_basketball = pd.read_csv('D:\\image_data_basketball.csv')
df_walking = pd.read_csv('D:\\image_data_walking.csv')
df_volleyball = pd.read_csv('D:\\image_data_volleyball.csv')
df_tennis = pd.read_csv('D:\\image_data_tennis.csv')
df_soccer = pd.read_csv('D:\\image_data_soccer_1.csv')
df_skating = pd.read_csv('D:\\image_data_skating.csv')
df_run = pd.read_csv('D:\\image_data_run.csv')
df_racing = pd.read_csv('D:\\image_data_racing.csv')
df_karate = pd.read_csv('D:\\image_data_karate.csv')
df_jumping = pd.read_csv('D:\\image_data_jumping.csv')
df_hunting = pd.read_csv('D:\\image_data_hunting.csv')
df_gym = pd.read_csv('D:\\image_data_gymnastic.csv')
df_diving = pd.read_csv('D:\\image_data_diving.csv')
df_climb = pd.read_csv('D:\\image_data_climb.csv')
df_boxing = pd.read_csv('D:\\image_data_boxing.csv')
df_bowling = pd.read_csv('D:\\image_data_bowling.csv')
df_bi_a = pd.read_csv('D:\\image_data_bi_a.csv')
df_aerobic = pd.read_csv('D:\\image_data_aerobic.csv')
df_freepick = pd.read_csv('D:\\image_data_freepick.csv')
df_istock = pd.read_csv('D:\\image_data_istock.csv')

# Processing

### Image_data_ver2

In [3]:
df_image_data_ver2.head()

  Image Filename      Caption
0   image001.jpg  no_alt_text
1   image002.jpg  no_alt_text
2   image003.jpg  no_alt_text
3   image004.jpg  no_alt_text
4   image005.jpg  no_alt_text

In [4]:
df_image_data_ver2.shape

(2134, 2)

#### Drop images that don't have caption

In [4]:
df_sport = df_image_data_ver2[~df_image_data_ver2.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_sport.shape

(1856, 2)

In [5]:
df_sport.reset_index(drop=True, inplace=True)
df_sport.head()

  Image Filename                                            Caption
0   image007.jpg  Free Person Swimming on Body of Water Stock Photo
1   image008.jpg  Free Low Angle View of Woman Relaxing on Beach...
2   image009.jpg            Free Man Standing on Bridge Stock Photo
3   image010.jpg  Free Person Riding Bike Making Trek on Thin Ai...
4   image011.jpg              Free Man Dunking the Ball Stock Photo

In [8]:
df_sport = df_sport.drop(df_sport.tail(2).index)
df_sport.shape

(1854, 2)

#### Delete tokens in captions 
When scraping data from websites, the captions contain some unnecessary words at the beginning and end of the sentence such as: free, stock photo,... So we must drop it

In [6]:
def drop_unnecessary_token(text):
    tokens = text.split()  
    if len(tokens) > 2:  
        tokens = tokens[1:-2]
        if tokens:
            tokens[0] = tokens[0].capitalize()
    else:
        tokens = []  
    return ' '.join(tokens) 

# Apply the function to the column 'Caption'
df_sport['Caption'] = df_sport['Caption'].apply(drop_unnecessary_token)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5220\3145087536.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sport['Caption'] = df_sport['Caption'].apply(drop_unnecessary_token)

In [7]:
# Function to make the caption to sentence case 
def to_sentence_case(s):
    s = s.lower()
    return s[0].upper() + s[1:] if s else s

# Apply the function to the 'Caption' column
df_sport['Caption'] = df_sport['Caption'].apply(to_sentence_case)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_5220\3447084606.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sport['Caption'] = df_sport['Caption'].apply(to_sentence_case)

In [12]:
df_sport.head()

  Image Filename                                            Caption
0   image007.jpg                   Person swimming on body of water
1   image008.jpg  Low angle view of woman relaxing on beach agai...
2   image009.jpg                             Man standing on bridge
3   image010.jpg         Person riding bike making trek on thin air
4   image011.jpg                               Man dunking the ball

In [13]:
df_sport.shape

(1854, 2)

In [14]:
df_sport.to_csv('dataset_image_sport.csv', index=False)

##### When we cleaning data (delete row that don't have caption), the folder containing images must correspond to the order of the images in the dataset => Must delete the images that are deleted in the dataset

In [8]:
import os
import csv

def clean_folder_from_csv(folder_path, csv_file_path):
    """
    Deletes files in the specified folder that are not listed in the provided CSV file.

    Parameters:
    folder_path (str): The path to the folder containing the files.
    csv_file_path (str): The path to the CSV file with valid image names.
    """
    # Function to read all image names from the CSV file
    valid_images = set()
    with open(csv_file_path, newline='', encoding='utf-8') as csvfile:
        reader = csv.reader(csvfile)
        next(reader, None)  # Skip the header row if there is one
        for row in reader:
            image_name = row[0]  # Assuming the image name is in the first column
            valid_images.add(image_name)

    # Get all files in the folder
    files_in_folder = os.listdir(folder_path)

    # Delete files that are not in the CSV list
    for file in files_in_folder:
        if file not in valid_images:
            os.remove(os.path.join(folder_path, file))

In [ ]:
folder_path = 'D:\\Saved_Images_ver2'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_sport.csv'
clean_folder_from_csv(folder_path, csv_file_path)

# Basketball_Data

In [15]:
df_basketball.head()

  Image Filename      Caption
0   image001.jpg  no_alt_text
1   image002.jpg  no_alt_text
2   image003.jpg  no_alt_text
3   image004.jpg  no_alt_text
4   image005.jpg  no_alt_text

In [17]:
df_basketball.shape

(1907, 2)

In [18]:
df_basketball = df_basketball[~df_basketball.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_basketball.shape

(1669, 2)

In [19]:
df_basketball.reset_index(drop=True, inplace=True)

In [20]:
df_basketball.head()

  Image Filename                                            Caption
0   image012.jpg  Free Men on Wheelchairs Playing Basketball Sto...
1   image013.jpg    Free Brown Basketball on Grey Floor Stock Photo
2   image014.jpg  Free Man Wearing Blue and Yellow Shorts Playin...
3   image015.jpg  Free Silhouette of Men Playing Basketball Stoc...
4   image016.jpg  Free Woman in Blue and White Basketball Jersey...

In [23]:
df_basketball['Caption'] = df_basketball['Caption'].apply(drop_unnecessary_token)
df_basketball['Caption'] = df_basketball['Caption'].apply(to_sentence_case)

In [24]:
df_basketball.head()

  Image Filename                                            Caption
0   image012.jpg              Men on wheelchairs playing basketball
1   image013.jpg                     Brown basketball on grey floor
2   image014.jpg  Man wearing blue and yellow shorts playing bas...
3   image015.jpg               Silhouette of men playing basketball
4   image016.jpg  Woman in blue and white basketball jersey hold...

In [25]:
df_basketball.to_csv('dataset_image_basketball.csv', index=False)

In [26]:
folder_path = 'D:\\Saved_Images_basketball'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_basketball.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [93]:
a = pd.read_csv('C:\\Users\\ADMIN\\dataset_image_basketball.csv')
a.shape

(1669, 2)

# Walking_Data

In [32]:
df_walking.head()

   Image Filename                                            Caption
10   image011.jpg  Free Man Walking on Road Under the Sun Stock P...
11   image012.jpg  Free Man Walking on the Gray Asphalt Road Stoc...
12   image013.jpg              Free Man Walking on Floor Stock Photo
13   image014.jpg  Free Person in Yellow and Black Backpack Walki...
14   image015.jpg  Free Man Wearing Blue Bubble Hoodie Jacket Wal...

In [29]:
df_walking = df_walking[~df_walking.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_walking.shape

(1555, 2)

In [31]:
df_walking.tail()

     Image Filename                                            Caption
1779  image1780.jpg  Free Person in Black Pants and Black Sandals W...
1780  image1781.jpg  Free Abstract Mural behind Woman Walking Dog  ...
1781  image1782.jpg  Free Businessman Carrying a Laptop Bag Crossin...
1782  image1783.jpg                                        Pexels Logo
1783  image1784.jpg                                Powered by Onetrust

In [34]:
df_walking = df_walking.drop(df_walking.tail(2).index)
df_walking.shape

(1553, 2)

In [39]:
df_walking.reset_index(drop=True, inplace=True)

In [40]:
df_walking['Caption'] = df_walking['Caption'].apply(drop_unnecessary_token)
df_walking['Caption'] = df_walking['Caption'].apply(to_sentence_case)

In [41]:
df_walking.tail()

     Image Filename                                            Caption
1548  image1778.jpg           Back view of a woman walking on a meadow
1549  image1779.jpg                         Woman walking on a pathway
1550  image1780.jpg  Person in black pants and black sandals walkin...
1551  image1781.jpg            Abstract mural behind woman walking dog
1552  image1782.jpg  Businessman carrying a laptop bag crossing the...

In [42]:
df_walking.to_csv('dataset_image_walking.csv', index=False)

In [43]:
folder_path = 'D:\\Saved_Images_walking'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_walking.csv'
clean_folder_from_csv(folder_path, csv_file_path)

## Volleyball_Data

In [44]:
df_volleyball.shape

(1737, 2)

In [45]:
df_volleyball = df_volleyball[~df_volleyball.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_volleyball.shape

(1507, 2)

In [46]:
df_volleyball.tail()

     Image Filename                                            Caption
1720  image1721.jpg  Free Shirtless Men Playing Volleyball on the B...
1721  image1722.jpg  Free Woman in Bikini Holding Red and Yellow Vo...
1722  image1723.jpg      Free Men Playing Beach Volleyball Stock Photo
1735  image1736.jpg                                        Pexels Logo
1736  image1737.jpg                                Powered by Onetrust

In [47]:
df_volleyball = df_volleyball.drop(df_volleyball.tail(2).index)
df_volleyball.reset_index(drop=True, inplace=True)

In [48]:
df_volleyball['Caption'] = df_volleyball['Caption'].apply(drop_unnecessary_token)
df_volleyball['Caption'] = df_volleyball['Caption'].apply(to_sentence_case)

In [49]:
df_volleyball.tail()

     Image Filename                                            Caption
1500  image1719.jpg         The lights through the deep ocean of india
1501  image1720.jpg                Maldivian traditional dhoni sailing
1502  image1721.jpg  Shirtless men playing volleyball on the beach ...
1503  image1722.jpg  Woman in bikini holding red and yellow volleyb...
1504  image1723.jpg                       Men playing beach volleyball

In [50]:
df_volleyball.to_csv('dataset_image_volleyball.csv', index=False)

In [51]:
folder_path = 'D:\\Saved_Images_volleyball'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_volleyball.csv'
clean_folder_from_csv(folder_path, csv_file_path)

## Tennis_Data

In [52]:
df_tennis.shape

(2019, 2)

In [53]:
df_tennis = df_tennis[~df_tennis.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_tennis.shape

(1760, 2)

In [54]:
df_tennis.tail()

     Image Filename                                            Caption
2014  image2015.jpg  Free Green Tennis Balls on the Ground Stock Photo
2015  image2016.jpg     Free Table Tennis Rackets on Grass Stock Photo
2016  image2017.jpg              Free Squash Tennis Court  Stock Photo
2017  image2018.jpg                                        Pexels Logo
2018  image2019.jpg                                Powered by Onetrust

In [55]:
df_tennis = df_tennis.drop(df_tennis.tail(2).index)
df_tennis.reset_index(drop=True, inplace=True)

In [56]:
df_tennis['Caption'] = df_tennis['Caption'].apply(drop_unnecessary_token)
df_tennis['Caption'] = df_tennis['Caption'].apply(to_sentence_case)

In [57]:
df_tennis.tail()

     Image Filename                                    Caption
1753  image2013.jpg                    Woman leaning on a tree
1754  image2014.jpg  Dogs playing with tennis balls on hilltop
1755  image2015.jpg           Green tennis balls on the ground
1756  image2016.jpg              Table tennis rackets on grass
1757  image2017.jpg                        Squash tennis court

In [58]:
df_tennis.to_csv('dataset_image_tennis.csv', index=False)

In [59]:
folder_path = 'D:\\Saved_Images_tennis'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_tennis.csv'
clean_folder_from_csv(folder_path, csv_file_path)

## Soccer_Data

In [13]:
df_soccer.tail()

    Image Filename                                            Caption
663   image664.jpg  Free Photo of Man Holding His Child While Walk...
664   image665.jpg  Free A Player Stepping on a Soccer Ball Stock ...
665   image666.jpg  Free Photo of a Crowd with Drums Celebrating i...
666   image667.jpg                                        Pexels Logo
667   image668.jpg                                Powered by Onetrust

In [11]:
df_soccer.shape

(668, 2)

In [12]:
df_soccer = df_soccer[~df_soccer.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_soccer.shape

(576, 2)

In [14]:
df_soccer = df_soccer.drop(df_soccer.tail(2).index)
df_soccer.reset_index(drop=True, inplace=True)

In [15]:
df_soccer['Caption'] = df_soccer['Caption'].apply(drop_unnecessary_token)
df_soccer['Caption'] = df_soccer['Caption'].apply(to_sentence_case)

In [16]:
df_soccer.tail()

    Image Filename                                            Caption
569   image662.jpg     Stands of la bombonera stadium in buenos aires
570   image663.jpg                   Empty wembley statdium in london
571   image664.jpg  Photo of man holding his child while walking o...
572   image665.jpg                 A player stepping on a soccer ball
573   image666.jpg  Photo of a crowd with drums celebrating in the...

In [17]:
df_soccer.to_csv('dataset_image_soccer.csv', index=False)

In [18]:
folder_path = 'D:\\Saved_Images_soccer_1'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_soccer.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [20]:
import os
import glob

def count_images_in_folder(folder_path):
    """
    Counts the number of image files in the specified folder.

    Parameters:
    folder_path (str): The path to the folder containing the image files.

    Returns:
    int: The number of image files in the folder.
    """
    # Define the list of image file extensions to look for
    image_extensions = ['*.jpg', '*.jpeg', '*.png', '*.gif', '*.bmp', '*.tiff']

    # Initialize the count of images
    image_count = 0

    # Iterate over each image extension pattern
    for extension in image_extensions:
        # Use glob to find files matching the extension pattern
        image_count += len(glob.glob(os.path.join(folder_path, extension)))

    return image_count

# Example usage
folder_path = 'D:\\Saved_Images_soccer_1'
print(f"Number of images in folder: {count_images_in_folder(folder_path)}")

Number of images in folder: 574

## Skating_Data

In [71]:
df_skating.shape

(2064, 2)

In [72]:
f = 'D:\\Saved_Images_skating'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 2064

In [73]:
df_skating.tail()

     Image Filename                                            Caption
2059  image2060.jpg  Free Close Up Shot of a Roller Skates Stock Photo
2060  image2061.jpg   Free Beautiful Woman Roller Skating  Stock Photo
2061  image2062.jpg  Free Smiling Woman in Roller Skates Lying on a...
2062  image2063.jpg                                        Pexels Logo
2063  image2064.jpg                                Powered by Onetrust

In [74]:
df_skating = df_skating[~df_skating.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_skating.shape

(1802, 2)

In [75]:
df_skating = df_skating.drop(df_skating.tail(2).index)
df_skating.reset_index(drop=True, inplace=True)

In [76]:
df_skating['Caption'] = df_skating['Caption'].apply(drop_unnecessary_token)
df_skating['Caption'] = df_skating['Caption'].apply(to_sentence_case)

In [77]:
df_skating.tail()

     Image Filename                                            Caption
1795  image2058.jpg                    Two women wearing roller skates
1796  image2059.jpg         People wearing pink and blue roller skates
1797  image2060.jpg                   Close up shot of a roller skates
1798  image2061.jpg                     Beautiful woman roller skating
1799  image2062.jpg  Smiling woman in roller skates lying on a benc...

In [79]:
df_skating.to_csv('dataset_image_skating.csv', index=False)

In [80]:
folder_path = 'D:\\Saved_Images_skating'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_skating.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [81]:
f = 'D:\\Saved_Images_skating'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 1800

## Run_Data

In [82]:
df_run.shape

(1426, 2)

In [83]:
df_run.tail()

     Image Filename                                            Caption
1421  image1422.jpg  Free Person in Jacket Running on Snow Covered ...
1422  image1423.jpg      Free Man and Woman on a Treadmill Stock Photo
1423  image1424.jpg  Free Young Boys Running while Playing Football...
1424  image1425.jpg                                        Pexels Logo
1425  image1426.jpg                                Powered by Onetrust

In [85]:
f = 'D:\\Saved_Images_run'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 1424

In [86]:
df_run = df_run[~df_run.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_run.shape

(1250, 2)

In [87]:
df_run = df_run.drop(df_run.tail(2).index)
df_run.reset_index(drop=True, inplace=True)

In [88]:
df_run['Caption'] = df_run['Caption'].apply(drop_unnecessary_token)
df_run['Caption'] = df_run['Caption'].apply(to_sentence_case)

In [89]:
df_run.tail()

     Image Filename                                            Caption
1243  image1420.jpg  Man wearing jacket and black shorts running in...
1244  image1421.jpg              Photo of woman holding hands with man
1245  image1422.jpg    Person in jacket running on snow covered ground
1246  image1423.jpg                       Man and woman on a treadmill
1247  image1424.jpg          Young boys running while playing football

In [90]:
df_run.shape

(1248, 2)

In [92]:
df_run.to_csv('dataset_image_run.csv', index=False)

In [93]:
folder_path = 'D:\\Saved_Images_run'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_run.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [94]:
f = 'D:\\Saved_Images_run'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 1248

## Racing_Data

In [95]:
df_racing.shape

(2303, 2)

In [96]:
df_racing.tail()

     Image Filename                                            Caption
2298  image2299.jpg  Free Man in White Shirt Watching Woman in Whit...
2299  image2300.jpg  Free People Eating Baby Girl's Birthday Cake S...
2300  image2301.jpg  Free Woman with Curly Hair in White Crop Top H...
2301  image2302.jpg                                        Pexels Logo
2302  image2303.jpg                                Powered by Onetrust

In [97]:
f = 'D:\\Saved_Images_racing'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 2303

In [98]:
df_racing = df_racing[~df_racing.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_racing.shape

(2017, 2)

In [99]:
df_racing = df_racing.drop(df_racing.tail(2).index)
df_racing.reset_index(drop=True, inplace=True)

In [100]:
df_racing['Caption'] = df_racing['Caption'].apply(drop_unnecessary_token)
df_racing['Caption'] = df_racing['Caption'].apply(to_sentence_case)

In [101]:
df_racing.tail()

     Image Filename                                            Caption
2010  image2297.jpg         Closeup of a race drivers hands and gloves
2011  image2298.jpg                  A woman driving with a vr headset
2012  image2299.jpg  Man in white shirt watching woman in white dre...
2013  image2300.jpg            People eating baby girl's birthday cake
2014  image2301.jpg  Woman with curly hair in white crop top holdin...

In [102]:
df_racing.shape

(2015, 2)

In [103]:
df_racing.to_csv('dataset_image_racing.csv', index=False)

In [104]:
folder_path = 'D:\\Saved_Images_racing'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_racing.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [105]:
f = 'D:\\Saved_Images_racing'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 2015

## Karate_Data

In [106]:
df_karate.shape

(362, 2)

In [107]:
df_karate.tail()

    Image Filename                                            Caption
357   image358.jpg  Free Two Men in Karate Uniform Sparring Stock ...
358   image359.jpg  Free Man With Braided Hair Wearing Gray Karate...
359   image360.jpg            Free Handshake Before Fight Stock Photo
360   image361.jpg                                        Pexels Logo
361   image362.jpg                                Powered by Onetrust

In [108]:
f = 'D:\\Saved_Images_karate'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 362

In [109]:
df_karate = df_karate[~df_karate.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_karate.shape

(314, 2)

In [110]:
df_karate = df_karate.drop(df_karate.tail(2).index)
df_karate.reset_index(drop=True, inplace=True)

In [111]:
df_karate['Caption'] = df_karate['Caption'].apply(drop_unnecessary_token)
df_karate['Caption'] = df_karate['Caption'].apply(to_sentence_case)

In [113]:
df_karate.tail()

    Image Filename                                         Caption
307   image352.jpg          Men practising martial arts at the gym
308   image357.jpg          Women in karate uniform on a black mat
309   image358.jpg              Two men in karate uniform sparring
310   image359.jpg  Man with braided hair wearing gray karate robe
311   image360.jpg                          Handshake before fight

In [114]:
df_karate.to_csv('dataset_image_karate.csv', index=False)

In [115]:
folder_path = 'D:\\Saved_Images_karate'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_karate.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [116]:
f = 'D:\\Saved_Images_karate'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 312

## Jumping_Data

In [21]:
df_jumping.shape

(936, 2)

In [22]:
df_jumping.tail()

    Image Filename                                            Caption
931   image932.jpg  Free A Group of Young People in Punk Clothing ...
932   image933.jpg  Free Man Wearing Red Shirt Playing Basketball ...
933   image934.jpg          Free Man Jumping on Lakeshore Stock Photo
934   image935.jpg                                        Pexels Logo
935   image936.jpg                                Powered by Onetrust

In [23]:
f = 'D:\\Saved_Images_jumping'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 936

In [24]:
df_jumping = df_jumping[~df_jumping.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_jumping.shape

(816, 2)

In [26]:
df_jumping = df_jumping.drop(df_jumping.tail(2).index)
df_jumping.reset_index(drop=True, inplace=True)

In [27]:
df_jumping['Caption'] = df_jumping['Caption'].apply(drop_unnecessary_token)
df_jumping['Caption'] = df_jumping['Caption'].apply(to_sentence_case)

In [28]:
df_jumping.to_csv('dataset_image_jumping.csv', index=False)

In [29]:
folder_path = 'D:\\Saved_Images_jumping'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_jumping.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [30]:
f = 'D:\\Saved_Images_jumping'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 814

## Hunting_Data

In [31]:
df_hunting.shape

(768, 2)

In [32]:
df_hunting.tail()

    Image Filename                                            Caption
763   image764.jpg  Free A spider with long legs on a leaf Stock P...
764   image765.jpg  Free Portrait of Cheetah Walking Away Stock Photo
765   image766.jpg      Free Goose Splashing in the Water Stock Photo
766   image767.jpg  Free A spider is sitting on the web in front o...
767   image768.jpg  Free Graureiher Präsentiert seine Beute Stock ...

In [33]:
f = 'D:\\Saved_Images_hunting'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 767

In [34]:
df_hunting = df_hunting[~df_hunting.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_hunting.shape

(666, 2)

In [35]:
df_hunting.reset_index(drop=True, inplace=True)
df_hunting['Caption'] = df_hunting['Caption'].apply(drop_unnecessary_token)
df_hunting['Caption'] = df_hunting['Caption'].apply(to_sentence_case)

In [36]:
df_hunting.to_csv('dataset_image_hunting.csv', index=False)

In [37]:
folder_path = 'D:\\Saved_Images_hunting'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_hunting.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [38]:
f = 'D:\\Saved_Images_hunting'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 665

## Gymnastic_Data

In [39]:
df_gym.shape

(965, 2)

In [40]:
df_gym.tail()

    Image Filename                                            Caption
960   image961.jpg  Free Young slim Asian female wearing top and l...
961   image962.jpg  Free Woman Wearing Black leotard Doing Yoga Po...
962   image963.jpg  Free Female friends warming up on bench in yar...
963   image964.jpg                                        Pexels Logo
964   image965.jpg                                Powered by Onetrust

In [41]:
f = 'D:\\Saved_Images_gymnastic'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 965

In [42]:
df_gym = df_gym[~df_gym.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_gym.shape

(840, 2)

In [43]:
df_gym = df_gym.drop(df_gym.tail(2).index)
df_gym.reset_index(drop=True, inplace=True)
df_gym['Caption'] = df_gym['Caption'].apply(drop_unnecessary_token)
df_gym['Caption'] = df_gym['Caption'].apply(to_sentence_case)

In [44]:
df_gym.to_csv('dataset_image_gymnastic.csv', index=False)

In [45]:
folder_path = 'D:\\Saved_Images_gymnastic'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_gymnastic.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [46]:
f = 'D:\\Saved_Images_gymnastic'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 838

## Diving_data

In [47]:
df_diving.shape

(749, 2)

In [48]:
df_diving.tail()

    Image Filename                                            Caption
744   image745.jpg  Free From below of anonymous divers in wetsuit...
745   image746.jpg  Free Back view of unrecognizable female travel...
746   image747.jpg  Free Unrecognizable person diving in blue seaw...
747   image748.jpg  Free Full body anonymous diver wearing wetsuit...
748   image749.jpg  Free Man in Black and Blue Wetsuit and Black G...

In [49]:
f = 'D:\\Saved_Images_diving'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 749

In [50]:
df_diving = df_diving[~df_diving.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_diving.shape

(656, 2)

In [51]:
df_diving.reset_index(drop=True, inplace=True)
df_diving['Caption'] = df_diving['Caption'].apply(drop_unnecessary_token)
df_diving['Caption'] = df_diving['Caption'].apply(to_sentence_case)

In [52]:
df_diving.to_csv('dataset_image_diving.csv', index=False)

In [53]:
folder_path = 'D:\\Saved_Images_diving'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_diving.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [54]:
f = 'D:\\Saved_Images_diving'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 656

## Climb_Data

In [55]:
df_climb.shape

(502, 2)

In [56]:
df_climb.tail()

    Image Filename                                            Caption
497   image498.jpg  Free Man in Green Jacket and Black Pants With ...
498   image499.jpg  Free Mountain Valley Covered with Snow  Stock ...
499   image500.jpg  Free Person in Brown Coat Standing Near Snow C...
500   image501.jpg                                        Pexels Logo
501   image502.jpg                                Powered by Onetrust

In [57]:
f = 'D:\\Saved_Images_climb'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 502

In [58]:
df_climb = df_climb[~df_climb.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_climb.shape

(434, 2)

In [59]:
df_climb = df_climb.drop(df_climb.tail(2).index)
df_climb.reset_index(drop=True, inplace=True)
df_climb['Caption'] = df_climb['Caption'].apply(drop_unnecessary_token)
df_climb['Caption'] = df_climb['Caption'].apply(to_sentence_case)

In [60]:
df_climb.to_csv('dataset_image_climb.csv', index=False)

In [61]:
folder_path = 'D:\\Saved_Images_climb'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_climb.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [62]:
f = 'D:\\Saved_Images_climb'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 432

## Boxing_Data

In [65]:
df_boxing.shape

(2448, 2)

In [66]:
df_boxing.tail()

     Image Filename                                            Caption
2443  image2444.jpg  Free A Boy Wearing Black Boxing Gloves Stock P...
2444  image2445.jpg  Free A Boy Wearing Black Boxing Gloves Stock P...
2445  image2446.jpg  Free A Boy Wearing Black Boxing Gloves Stock P...
2446  image2447.jpg        Free A Man Posing at the Camera Stock Photo
2447  image2448.jpg             Free A Boy in Black Hoodie Stock Photo

In [67]:
f = 'D:\\Saved_Images_boxing'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 2448

In [68]:
df_boxing = df_boxing[~df_boxing.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_boxing.shape

(2153, 2)

In [69]:
df_boxing.reset_index(drop=True, inplace=True)
df_boxing['Caption'] = df_boxing['Caption'].apply(drop_unnecessary_token)
df_boxing['Caption'] = df_boxing['Caption'].apply(to_sentence_case)

In [70]:
df_boxing.to_csv('dataset_image_boxing.csv', index=False)

In [71]:
folder_path = 'D:\\Saved_Images_boxing'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_boxing.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [72]:
f = 'D:\\Saved_Images_boxing'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 2153

## Bi_a_Data

In [73]:
df_bi_a.shape

(184, 2)

In [74]:
df_bi_a.tail()

    Image Filename              Caption
179   image180.jpg          no_alt_text
180   image181.jpg          no_alt_text
181   image182.jpg          no_alt_text
182   image183.jpg          Pexels Logo
183   image184.jpg  Powered by Onetrust

In [75]:
f = 'D:\\Saved_Images_bi_a'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 184

In [76]:
df_bi_a = df_bi_a[~df_bi_a.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_bi_a.shape

(149, 2)

In [77]:
df_bi_a = df_bi_a.drop(df_bi_a.tail(2).index)
df_bi_a.reset_index(drop=True, inplace=True)
df_bi_a['Caption'] = df_bi_a['Caption'].apply(drop_unnecessary_token)
df_bi_a['Caption'] = df_bi_a['Caption'].apply(to_sentence_case)

In [78]:
df_bi_a.to_csv('dataset_image_bi_a.csv', index=False)

In [79]:
folder_path = 'D:\\Saved_Images_bi_a'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_bi_a.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [80]:
f = 'D:\\Saved_Images_bi_a'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 147

## Aerobic_Data

In [81]:
df_aerobic.shape

(788, 2)

In [82]:
df_aerobic.tail()

    Image Filename              Caption
783   image784.jpg          no_alt_text
784   image785.jpg          no_alt_text
785   image786.jpg          no_alt_text
786   image787.jpg          Pexels Logo
787   image788.jpg  Powered by Onetrust

In [83]:
f = 'D:\\Saved_Images_aerobic'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 788

In [85]:
df_aerobic = df_aerobic[~df_aerobic.applymap(lambda x: x == 'no_alt_text').any(axis=1)]
df_aerobic.shape

(664, 2)

In [86]:
df_aerobic = df_aerobic.drop(df_aerobic.tail(2).index)
df_aerobic.reset_index(drop=True, inplace=True)
df_aerobic['Caption'] = df_aerobic['Caption'].apply(drop_unnecessary_token)
df_aerobic['Caption'] = df_aerobic['Caption'].apply(to_sentence_case)

In [87]:
df_aerobic.to_csv('dataset_image_aerobic.csv', index=False)

In [88]:
folder_path = 'D:\\Saved_Images_aerobic'
csv_file_path = 'C:\\Users\\ADMIN\\dataset_image_aerobic.csv'
clean_folder_from_csv(folder_path, csv_file_path)

In [89]:
f = 'D:\\Saved_Images_aerobic'
print(f"Number of images in folder: {count_images_in_folder(f)}")

Number of images in folder: 662